aiodns==2.0.0
aiohttp==3.7.4.post0
amqp==5.0.2
APScheduler==3.6.3
asgiref==3.3.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
billiard==3.6.3.0
boto3==1.17.86
botocore==1.20.86
celery==5.0.5
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
cryptography==2.9.2
dj-database-url==0.5.0
Django==3.2.3
django-celery-beat==2.1.0
django-celery-results==2.0.1
django-cors-headers==3.6.0
django-filter==2.3.0
django-hidefield==0.1.2
django-s3direct==1.1.8
django-storages==1.11.1
django-timezone-field==4.1.1
djangorestframework==3.11.1
gunicorn==20.0.4
idna==2.9
isort==4.3.21
jmespath==0.10.0
kombu==5.0.2
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
multidict==5.1.0
Pillow==7.2.0
prompt-toolkit==3.0.10
psycopg2==2.8.6
pycares==3.1.1
pycparser==2.20
pylint==2.5.3
pyOpenSSL==19.1.0
PySocks==1.7.1
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.17.1
pytz==2020.1
pywin32==227
requests==2.23.0
ruamel.yaml==0.15.87
s3transfer==0.4.2
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
tqdm==4.46.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.8
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
yarl==1.6.3
