{% extends 'paginas/base.html' %}

{% load  static %} 
{% block content %}
  <!-- ======= Header ======= -->
 

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" >
      <div class="row" style="padding-top: 5%;">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Confía en tu comunidad, construye vínculos y comparte bienes o servicios.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">∀alpo es una moneda social y comunitaria creada en el contexto del estallido social de Octubre 2019 y la pandemia del COVID de 2020. Tiene por objetivo fortalecer los vínculos solidarios entre vecin@s de una comunidad facilitando el intercambio basado en apoyo mutuo.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSclNXER1H1TKOgN6xQwUP-DuNYMGX_Gt4iRtapBS7Gt7X3ucQ/viewform" class="btn btn-outline-primary scrollto">Registra tu Comunidad</a>
            <a href="https://drive.google.com/file/d/1aVp52DY7sYO4tj3kPJ2sD-NL3HiHM-BK/preview" class="venobox btn-watch-video vbox-item" style="padding-left: 5%;" data-vbtype="video" data-autoplay="true"> Ver Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'img/MONEDA-SOCIAL-POSITIVO.png' %}" class="img-fluid animated" alt="" style="padding-left: 25%;padding-right: 25%;">
          <img src="{% static 'img/cartoon_comunity.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients ">
      <div class="container">

        <div class="row">

          <div class="col-lg-3  col-md-4 col-6">
            <img src="{% static 'img/clients/NODO-AL.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-3  col-md-4 col-6">
            <img src="{% static 'img/clients/NODO-CA.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-3  col-md-4 col-6">
            <img src="{% static 'img/clients/NODO-PW.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <img src="{% static 'img/clients/NODO-UPLA.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>
   
        </div>

      </div>
    </section><!-- End Clients Section -->
    <!-- ======= Equivalance Section ======= -->
    <section id="equivale" class="">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Equivalencia</h2>
          <p>Dado que no existe transformación de ∀alpos a pesos ni de pesos a ∀alpos, se utiliza la siguiente equivalencia como referencia:</p>
        </div>
      </div> 
      <div class="container">
        <div class="row">
          <div class="col-sm" data-aos="fade-up">
            
          </div>
          <div class="col-sm" data-aos="fade-up">
            <div class="card border-dark  text-center" style="max-width: 25rem;">
              <div class="card-header">1 ∀alpo equivale a mil pesos</div>
              <div class="card-body text-dark">
                <h4 class="card-title">1 ∀alpo <strong>≈</strong> $1000 pesos</h4>
                
              </div>
            </div>
          </div>
          <div class="col-sm" data-aos="fade-up">
            
          </div>
        </div>
      </div>
    </section><!-- End Equivalence Section -->

    <!-- ======= About Us Section ======= -->
    <section id="saber-mas" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>En que consiste</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Consiste en una herramienta de apoyo entre los y las integrantes de una comunidad con el objetivo de generar vínculos de confianza y potenciar otra Economía, la Economía Social y Solidaria. 
              A diferencia de la Economía de la escasez, en la Economía Social la verdadera riqueza radica en las personas, en los vínculos que estas crean y en el cuidado del medioambiente. 

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Facilitar el apoyo mutuo entre personas que participan de una comunidad</li>
              <li><i class="ri-check-double-line"></i> Impulsar la generación de confianza y el encuentro entre vecin@s del puerto </li>
              <li><i class="ri-check-double-line"></i> Motivar las compras por cercanía, la soberanía alimentaria y el cuidado del medio ambiente</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Por tanto, 
              son principios fundamentales compartir y no acumular, colaborar y no competir, confiar/creer y no dudar, 
              valorar/apreciar y no buscar el máximo beneficio monetario.
              <br>
              Apoyamos la transformación de los clientes y consumidores en ciudadan@s prosumidores (productores + consumidores) 
              integrantes de una comunidad que comparten, ofrecen y reciben: tiempo, saberes, productos y creaciones propias, 
              bienes comunes y productos básicos.
              

              
            </p>
            <a href="https://communities.cyclos.org/valpos#login" class="btn-learn-more">INGRESA/REGISTRATE AQUI</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR9GbON3ODapo5TZyORtHrsNvTInTyC_vyL0t5a0UMP49gKJoTWOjlZQ062TbDuPw2QXVY3Zg_-Rh7b/embed?start=false&amp;loop=false&amp;delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">{{cantusu}}</span>
                    <p><strong>Cantidad de Personas</strong> que son parte de la red de &#8704alpos</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                    <span data-toggle="counter-up">{{cantg}}</span>
                    <p><strong>Cantidad de nodos</strong> en Valparaiso</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <span data-toggle="counter-up">{{ canttr }}</span>
                    <p><strong>Numero de Intercambios </strong> realizaos por las Comunidades</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-database-2-line" style="color: #47aeff;"></i>
                    <span data-toggle="counter-up">{{ sumtr }}</span>
                    <p><strong>Cantidad de &#8704alpos</strong> intercambiados</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

 
    
    <section id="nodos" class="more-services">
    
    <div class="section-title" data-aos="fade-up">      
      <div class="container"> 
        <div class="section-title" data-aos="fade-up">
            <h2>Nodos</h2>
            <p>Comunidades que son parte de la red </p>
          </div>
          
        <div class="row">
         {% for grupos in viewgrupos %}   
          <div class="col-md-6 d-flex align-items-stretch" style="padding-bottom: 5%;">
            <div class="card" style="background-image: url('{{grupos.image_co }}');padding-top: 70% ;" data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title">{{grupos.nom_comunidad}}</h5>
                <p class="card-text">
                  {{grupos.descrip}}
                </p>             
              </div>
            </div>
          </div> 
          {% endfor %}      
       </div>
       
      </div>
    </div>  
  
    
    <!-- ======= Testimonials Section ======= -->
    <section id="sumate" class="testimonials section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Súmate </h2>
          <p>con tu comunidad </p>
        </div>
        <div class="documentation  bg-white text-center">
          <div class="container testimonials ">
              <div class="col-lg-8 offset-lg-2">
                
                <h1 id="conecta">Súmate con tu comunidad</h1>
                <iframe src="https://drive.google.com/file/d/1aVp52DY7sYO4tj3kPJ2sD-NL3HiHM-BK/preview" width="640" height="353"></iframe>
                <p class="lead">Envíanos tus datos y el de tu comunidad, llenando el siguiente (breve) formulario de 
                  contacto y te conectaremos para invitarte a ser parte de la <span class="text-success">Red de Moneda Social y Comunitaria ∀alpo.</span></p>
                <a href="https://forms.gle/g4BqJD3rNqymE56K8" target="_blank" class="btn btn-outline-primary btn-lg mt-4">Completar formulario</a>
              </div>
        
          </div>
          </div>

      </div>
    </section><!-- End Testimonials Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="">
            &copy; 2020 <strong>Incubándose </strong>con <img src="{% static 'img/istockphoto-949849640-170x170.jpg' %}" width="7%" height="7%" alt=""> en
          
          
            <a href="https://datoslab.cl/">DatosLab.cl</a>
          </div>
        </div>
    
        <div class="row">

          <div class=" col-md-4 col-6">
            <img src="{% static 'img/clients/upla-c.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class=" col-md-4 col-6">
            <img src="{% static 'img/clients/vcm.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-4 col-6">
            <img src="{% static 'img/clients/dgv.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>
   
        </div>
       
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  {% endblock %}

