{% extends 'paginas/base_externo.html' %}

{% load  static %} 
{% block content %}
<body>

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="">
      <div class="container">
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="">
      <div class="container">
        <iframe width="100%" height="1000px" src="https://docs.google.com/document/d/e/2PACX-1vQN-pVn49Ugk8vlLy7ycGfZOyupEOkEtdIgntYKYdp1-kXWvdgyw-m3hMLa4W_WcROb5RB3n1lxoyev/pub?embedded=true"></iframe>
      </div>
      </section>

  </main><!-- End #main -->



  {% endblock %}