{% extends  'accTemplate/base.html' %}

{% load  static %} 
{% block content %}
<body>


  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="">
      <div class="container">
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="background-color:#f6f6f6;border-bottom-left-radius: .25rem;border-top-left-radius: .25rem;">
                      
                    <div class="main " style="padding: 10%;">
                      <div class="login-main-text d-flex justify-content-center">
                        <div class="container login-main-text d-flex justify-content-center">
                          <div class="row flex-column ">
                              <div class="d-flex justify-content-center" >
                                <h2 style="align-text: center;">Accede a tu cuenta</h2>
                              </div>
                              <div class="d-flex justify-content-center">
                                <p>Ingresa o registrate en Cyclos para poder ingresar</p>
                              </div>
                              <div class="d-flex justify-content-center">
                              <p class="alert alert-warning center" id="output">                               
                                  {{message}}
                                </p>
                              </div>
                          </div>
                        </div>
                      </div>                 
                          <div class="d-flex justify-content-center" >
                            
                              <form action="" class="form"  method="POST" id="fileinfo">

                                {% csrf_token %}
                                <div class="container">
                                  <div class="row flex-column">
                                      <div class="">
                                        <label>Nombre de Usuario:</label>
                                      </div>
                                      <div class="" style="padding-bottom: 15px;">
                                        {{form.user }}
                                      </div>
                                      <div class="">
                                        <label>Contraseña:</label>
                                      </div>
                                      <div class="" style="padding-bottom: 15px;">
                                        {{form.password}}
                                      </div>
                                  </div>
                              </div>
                                       
                                <button type="submit" style="color:#3498db;border-color:#3498db;" class="btn btn-outline-dark">Ingresar</button>
                                <a type="button" style="background-color:#3498db;" href='https://communities.cyclos.org/valpos#login' class="btn btn-secondary">Registrarse</a>
                              </form>
                              
                          </div>
                        
                    </div>

          </div>
          <div class="col-md-6"  style="height: 800px;background-color:#3498db;color:#444444;border-bottom-right-radius: .25rem;border-top-right-radius: .25rem; Background-image: url('{% static 'img/Types-of-Education.png' %}');background-size: cover;"  >
          <div style="padding: 10%;">
            <h3>
              Micro aprendizajes.
            </h3>
            <p>
              El microaprendizaje o microlearning es una manera diferente de aprender, 
              que consiste en fragmentar los contenidos didácticos para adquirir determinadas competencias. 
              Este aprendizaje se crea en pequeños pasos, que al enlazarse unos con otros, 
              crean un conocimiento más completo y profundo. Una de sus principales características es que se realiza en 
              un corto espacio de tiempo y se puede llevar a cabo en cualquier lugar, sin depender de lugares físicos 
              ni de sistemas tradicionales.<br> Es cómodo, rápido y eficiente.
            </p>
           
          </div>
        </div>
       </div>
      </div>
        
      
    </section>

  </main><!-- End #main -->

  {% endblock %}